.home
{
  background-image: url('./images/cover1.jpg');
  display: flex;
  height: 91vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem; 
  color: #000000;
background-color: aliceblue;
}



.h1{
    color: solid 2px #000000;
    justify-content: center;
    text-align: start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: -24%;
    font-size: 35px;
}

.para{
  justify-content: center;
  text-align: start;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  font-size: 18px;
  bottom: 40%;
  left: 5%;
}

.btn{
  position: absolute;
  bottom: 180px;
  left: 90px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #000;
  border-radius: 5px;
  border: 2px solid #000;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
  list-style: none;
}

.btn:hover{
  background-color: rgb(103, 104, 105);
  border: 2px solid #fff;
}

@media all and (max-width: 480px) {
  .home
{
  background-image: url('./images/cover1.jpg');
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem; 
  color: #000000;
background-color: aliceblue;
}

.h1{
    color: solid 2px #000000;
    justify-content: center;
    text-align: start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 10%;
    bottom: 20%;
    font-size: 25px;
}

.para{
  justify-content: center;
  text-align: start;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  font-size: 30%;
  bottom: 15%;
  left: 10%;
}

.btn{
  position: absolute;
  bottom: 5%;
  left: 60px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #000;
  border-radius: 5px;
  border: 2px solid #000;
  padding: 7px 15px ;
  cursor: pointer;
  display: inline-block;
  list-style: none;
}

.btn:hover{
  background-color: rgb(103, 104, 105);
  border: 2px solid #fff;
}
}
