
.main-footer{
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100% ;
    margin: 0%;
    padding: 0%;
    text-align: center;
    justify-content: center;
    display: fixed;
    height:auto;
}
.col{
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.col2{
    position: relative;
    top: 10vh;
    left: 30%;
    transform: translate(-50%, -50%);
}


.fa-envelope{
    margin-left: -2.5rem;
    font-size: 1.4rem;
    padding: 0px 5px 10px;
    text-decoration: none;
    font-size: 25px;
    margin-right: 5px;
    color: #fdfdfd;
    display: inline-block;
    transition: transform 0.5s;
}

.fa-envelope:hover{
    color: black;
    transform: translateY(-5px);
}


.col3{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(-50%, -50%);
}
.fa-location-dot{
    margin-left: -2.5rem;
    font-size: 1.4rem;
    padding: 0% 5px;
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: #fdfdfd;
    display: inline-block;
    transition: transform 0.5s;
}

.fa-location-dot:hover{
    color: black;
    transform: translateY(-5px);
}

@media all and (max-width: 480px){
    .main-footer{
        color: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
        position: relative;
        bottom: 0;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    .row1{
        height: 50vh;
    }
    .col{
        position: relative;
        font-size: 15px;
        top: 370px;
        left: 50%;
    }
    
    .col2{
        position: relative;
        font-size: 12px;
        top: 15vh;
        left: 50%;
        right: 0;
        bottom: 0%;
        transform: translate(-50%, -50%);
    }
    
    
    .fa-envelope{
        margin-left: -2.5rem;
        font-size: 1.4rem;
        padding: 0px 5px 10px;
        text-decoration: none;
        font-size: 25px;
        margin-right: 5px;
        color: #fdfdfd;
        display: inline-block;
        transition: transform 0.5s;
    }
    
    .fa-envelope:hover{
        color: black;
        transform: translateY(-5px);
    }
    
    
    .col3{
        position: absolute;
        font-size: 12px;
        top: 0%;
        right: 0%;
        left: 18%;
        bottom: 100%;
        transform: translate(-10%, -370%);
    }
    .fa-location-dot{
        margin-left: -2.5rem;
        font-size: 1.4rem;
        padding: 0% 5px;
        text-decoration: none;
        font-size: 25px;
        margin-right: 15px;
        color: #fdfdfd;
        display: inline-block;
        transition: transform 0.5s;
    }
    
    .fa-location-dot:hover{
        color: black;
        transform: translateY(-5px);
    }

}