*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}

.infocraft
{
  background-color: linear-gradient(90deg, rgb(249, 249, 249) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  height: 91vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem; 
}

.home {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.logo-container {
  position: relative;
  width: 100%; 
  height: -25vh;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);;
}

.logo {
  border-radius: 2000px;
  width: 100px;
  position: absolute;
  top: -20px;
  left: 10%;
  transform: translate(-50%, -170%);
}
@media all and (max-width: 480px){
  .logo-container {
    margin: 0%;
    padding: 0%;
    position: relative;
    width: 100%;
    height: 20vh;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);;
  }
  
  .logo {
    border-radius: 200px;
    width: 100px;
    position: absolute;
    top: -80%;
    left: 25%;
    transform: translate(70%, -50%);
  }
}





